# Dependencies
node_modules/
# Builds & caches
dist/
build/
coverage/
.temp/
.cache/
turbo/
# Next.js
.next/
# Apps
apps/**/node_modules/
apps/**/dist/
# DB
*.sqlite*
# Editors/OS
.DS_Store
.idea/
.vscode/
# Env (ne pas commiter les secrets)
.env
.env.local
.env.*.local